body {
  font-family: "Pacifico", cursive;
  background-color: #f7ecde;
}
.maintext::before {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 215px;
  height: 25%;
  z-index: -1;
  background-color: #3ca55c;
  transition: all 0.5s;
}
a:hover .maintext::before {
  height: 65%;
}

.inputs {
  font-family: "PT Sans Caption", sans-serif;
  background-clip: text;
  border-bottom: dotted black;
  border-top: dotted black;
}
.inputs h2 {
  font-family: "Righteous", cursive;
  font-size: 25px;
  background-image: linear-gradient(to right, #3ca55c, #b5ac49);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.form-floating label,
input {
  color: black;
  font-size: 15px;
}
.display {
  font-family: "PT Sans Caption", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}
.btn-visit {
  --bs-btn-color: #fff;
  --bs-btn-bg: #9eb23b;
  --bs-btn-border-color: #9eb23b;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #8a9e23;
  --bs-btn-hover-border-color: #6e8018;
}
